<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= @memberships.inspect %>
      <h1>Plans TODO</h1>
      <ul>
        <li>Primero, los que no pagaron</li>
        <li>foreach payment_option</li>
        <ul>
          <li>todos los que están en ese payment</li>
          <li>con nombre, plan y monto</li>
          <li>con una observación si no tiene tarjeta en el sistema</li>
          <li>abajo, cantidad de alumnos y cantidad de plata</li>
        </ul>
        <li>más abajo, los que ya pagaron</li>
        <li>habilidad de actualizar la lista</li>
        <li>habilidad de cambiar un pago</li>
        <li>habilidad de eliminar un pago (poner inactivo ese contacto)</li>
        <li>habilidad de cambiar de forma de pago un usuario</li>
        <li>esto quizás, pero si hay sólo un responsible, podría poner un botón en cada payment option para que se haga la presentation directamente</li>
        <li>arriba del todo, cantidad de alumnos que tienen plan digamos y se puede poner cantidad de alumnos de la escuela</li>
        <li>también podría poner los alumnos de la escuela que no tienen plan y un link a financiero para agregar el plan o un link para agregar un pago nomás</li>
      </ul>
    </div>
  </div>
</div>