<div class="span3" id="help-sidebar">
  <div class="well sidebar-nav" data-spy="affix" data-offset-top="50">
    <ul class="nav nav-list">
      <li class="nav-header">Help</li>
      <li>
        <%= link_to "#Empezar" do %>
            ¿Cómo empiezo? <i class="icon-caret-right"></i>
        <% end %>
       </li>
      <li>
        <%= link_to "#Datos" do %>
            ¿De dónde saco los datos? <i class="icon-caret-right"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#Resumenes" do %>
            ¿Cómo hago los resúmenes? <i class="icon-caret-right"></i>
        <% end %>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->