<div class="span3" id="help-sidebar">
  <div class="well sidebar-nav" data-spy="affix" data-offset-top="50">
    <ul class="nav nav-list">
      <li class="nav-header">Help</li>
      <li>
        <%= link_to about_path do %>
            <i class="icon-info-sign"></i>¿Qué es?
        <% end %>
       </li>
      <li>
        <%= link_to about_path do %>
            <i class="icon-info-sign"></i>¿Para quién está pensado?
        <% end %>
      </li>
      <li>
        <%= link_to about_path do %>
            <i class="icon-info-sign"></i>¿Cómo funciona?
        <% end %>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->