<% content_for :sidebar do %>
    <%= render "main_sidebar" %>
<% end %>
<div class="center hero-unit">
  <h1>Sistema de d&eacute;bitos</h1>

  <h2>
    Para empresas del 
    <a href="http://metododerose.org/">M&eacute;todo DeRose</a>
    de Argentina.
  </h2>

  <% if signed_in? %>
    User: <%= current_user.username %>
  <% else %>
    Ingresá con DeRose Connect
  <% end %>
</div>