<div class="center hero-unit">
  <h1>Sistema de d&eacute;bitos</h1>

  <h2>
    Para empresas del 
    <a href="http://metododerose.org/">M&eacute;todo DeRose</a>
    de Argentina.
  </h2>

  <%= link_to "Registrate!", signup_path, class: "btn btn-large btn-primary" %>
</div>