<% content_for :sidebar do %>
    <%= render "main_sidebar" %>
<% end %>
<div class="center hero-unit">
  <h1>Sistema de d&eacute;bitos</h1>
  <h2>
    Actualmente sólo para empresas del 
    <a href="http://metododerose.org/">M&eacute;todo DeRose</a>
    de Argentina.
  </h2>
</div>

<%= link_to "Ingresá con DeRose Connect", user_session_path %>
