<div class="nested-fields">
  <table>
    <tr>
      <td>
        <%= f.input :name,
                    collection: [["VISA", "visa"],["MASTERCARD", "master"],["AMERICAN EXPRESS", "american"]],
                    include_blank: false %>
      </td>
      <td>
        <%= f.input :establishment do %>
          <%= f.input_field :establishment %>
        <% end %>
      </td>
      <td>
        <%= link_to_remove_association "Remove Card Company", f %>
      </td>
    </tr>
  </table>
</div>