<div class="center hero-unit">
  <h1>Sistema de d&eacute;bitos</h1>

  <h2>
    Para empresas del 
    <a href="http://metododerose.org/">M&eacute;todo DeRose</a>
    de Argentina.
  </h2>

  <%= link_to "Ver alumnos", alumnos_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Hacer resumen", summaries_path, class: "btn btn-large btn-primary" %>
  <% if false %>
  <div id="datos">
    <% @google_session.files.each do |file| %>
      <%= file.title %>
    <% end %>
  </div>
  <% end %>
</div>