// Place all the styles related to the Alumnos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.forum_hover { 
  opacity: 0.5;
}

.best_in_place {
  cursor: hand;
  cursor: pointer;
}

.visa_thumb {
  display: inline-block;
  height: 36px;
  width: 60px;
  background: url('credit_card_logos_17.gif') 0 0;
}

.mastercard_thumb {
  display: inline-block;
  height: 36px;
  width: 60px;
  background: url('credit_card_logos_17.gif') 180px 0;
}

.amex_thumb{
  display: inline-block;
  height: 36px;
  width: 60px;
  background: url('credit_card_logos_17.gif') 58px 0;
}

#import-students-from-CRM {
  display: none;
}

#import-students-from-CSV {
  display: none;
}