<div class="panel panel-default">
  <div class="">
    <h4 class="panel-title">
      <a>
        <%= account.name.humanize %>
      </a>
    </h4>
  </div>
  <div class="">
    <div class="panel-body">
      <% local_account = Account.where(name: account.name).first %>
      <% if local_account.nil? %>
        <div class="row">
          <div class="col-md-8">
            <%= link_to "Add account", accounts_path(account_name: account.name), method: :post %>
          </div>
        </div>
      <% else %>
        <%= render "account", account: local_account %>
      <% end %>
    </div>
  </div>
</div>
