<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render "layouts/breadcrumbs", 
          type: "Configuration", 
          alert: "info", 
          pages: [
                    {name: "Home", path: root_path}, 
                    {name: "Account", path: nil}
                  ] 
      %>
    </div>
  </div>
  <% if @account.nil? %>
    There is no such account or you dont have permission to access it
  <% else %>
    <%= render @account %>
  <% end %>
  <%= link_to "Accounts list", accounts_path %>
</div>